# Processing

This notebook reads in the Maryland State Bureau of Elections reports from January-September 2018, September 2014 and September 2016, which were converted from PDF to CSV using [Tabula](https://tabula.technology/), an open-source tool "for liberating data tables trapped inside PDF files." The files for each month and year are processed and combined into cleaned data files for analysis (see `02_analysis.ipynb`).

The following CSV files are in the `input/` folder for each month and year:
- `*_totals.csv`: total active registration, by county and party
- `*_changes.csv`: voter registration changes, by county and change type (address or name, or changes from* a particular party)
- `*_new.csv`: new registrations, by party and method of registration
- `*_removals.csv`: removals from the registered voter list, by party and reason for removal

The cleaned files are saved in the `output/` folder.

In [1]:
# Added by Steve
read.csv('input/01_2018_totals.csv')

   county         DEM     REP     GRN   LIB   UNAF    OTH    TOTAL   date
1  ALLEGANY       13,864  21,284  135   284   7,117   302    42,986  1/31/18
2  ANNE ARUNDEL   159,780 134,468 832   2,708 82,760  1,223  381,771 1/31/18
3  BALTIMORE CITY 301,200 31,039  1,264 1,416 45,782  1,658  382,359 1/31/18
4  BALTIMORE CO.  305,849 142,241 1,449 3,096 90,743  4,448  547,826 1/31/18
5  CALVERT        23,607  26,554  136   489   13,265  393    64,444  1/31/18
6  CAROLINE       6,853   9,156   29    107   3,821   117    20,083  1/31/18
7  CARROLL        32,170  63,176  264   899   24,039  823    121,371 1/31/18
8  CECIL          21,232  27,543  152   423   13,992  561    63,903  1/31/18
9  CHARLES        66,193  25,331  155   479   18,001  491    110,650 1/31/18
10 DORCHESTER     9,947   8,080   26    116   2,981   98     21,248  1/31/18
11 FREDERICK      62,111  66,095  448   1,283 38,413  319    168,669 1/31/18
12 GARRETT        4,243   12,694  37    102   2,455   134    19,665  1/31/18
13 HARFORD        64,110  77,244  390   1,374 34,785  1,125  179,028 1/31/18
14 HOWARD         105,229 55,804  510   1,230 47,349  1,830  211,952 1/31/18
15 KENT           5,969   4,694   25    74    2,051   104    12,917  1/31/18
16 MONTGOMERY     377,455 114,859 1,648 2,989 142,588 4,640  644,179 1/31/18
17 PR. GEORGE'S   449,680 40,885  1,041 1,582 66,158  11,552 570,898 1/31/18
18 QUEEN ANNE'S   10,680  17,686  78    250   6,604   174    35,472  1/31/18
19 ST. MARY'S     25,406  29,195  134   519   14,172  409    69,835  1/31/18
20 SOMERSET       5,885   5,158   20    57    1,810   74     13,004  1/31/18
21 TALBOT         10,029  11,595  48    153   4,880   185    26,890  1/31/18
22 WASHINGTON     31,839  42,187  256   684   19,097  455    94,518  1/31/18
23 WICOMICO       26,427  22,781  145   410   10,892  439    61,094  1/31/18
24 WORCESTER      14,055  16,402  82    241   6,944   290    38,014  1/31/18
   CONF.MAILING INACTIVE
1  234          2,981
2  4,660        21,399
3  5,347        27,109
4  6,215        28,367
5  2,012        4,291
6  98           1,039
7  663          7,134
8  1,447        7,520
9  628          7,683
10 131          1,366
11 1,691        11,937
12 100          1,305
13 1,178        9,244
14 1,252        14,166
15 63           848
16 6,230        81,113
17 23,869       43,239
18 295          2,148
19 453          5,963
20 83           1,087
21 181          1,431
22 536          9,054
23 4,300        4,008
24 1,723        2,350

In [1]:
## functions to process `totals`, `changes`, `new` and `removals` files

suppressMessages(library('tidyverse'))
suppressMessages(library('lubridate'))
suppressMessages(library('janitor'))
suppressMessages(library('data.table'))

process_totals <- function (month_yr) {
  df <- read.csv(paste0('input/', month_yr, '_totals.csv'), stringsAsFactors = F)
  df <- df %>% mutate(date = mdy(date),
             DEM = as.numeric(str_replace(DEM,pattern = '\\,', 
                                          replacement = '')),
             REP = as.numeric(str_replace(REP,pattern = '\\,', 
                                          replacement = '')),
             GRN = as.numeric(str_replace(GRN,pattern = '\\,', 
                                          replacement = '')),
             LIB = as.numeric(str_replace(LIB,pattern = '\\,', 
                                          replacement = '')),
             UNAF = as.numeric(str_replace(UNAF,pattern = '\\,', 
                                           replacement = '')),
             OTH = as.numeric(str_replace(OTH,pattern = '\\,', 
                                          replacement = '')),
             TOTAL = as.numeric(str_replace(TOTAL,pattern = '\\,', 
                                            replacement = '')),
             CONF.MAILING = as.numeric(str_replace(CONF.MAILING,pattern = '\\,', 
                                                   replacement = '')),
             INACTIVE = as.numeric(str_replace(INACTIVE,pattern = '\\,', 
                                               replacement = ''))) %>% adorn_totals('row')
  
  colnames(df) <- tolower(colnames(df))
  
  df <- df %>%  mutate(date = ifelse(date == '-', lag(date), date), 
           dem_perc = dem/total * 100, 
           rep_perc = rep/total * 100,
           grn_perc = grn/total * 100,
           lib_perc = lib/total * 100, 
           unaf_perc = unaf/total * 100,
           oth_perc = oth/total * 100)
  return(df)
}

process_changes <- function (month_yr) {
  df <- read.csv(paste0('input/', month_yr, '_changes.csv'), stringsAsFactors = F)
  df <- df %>% mutate(date = mdy(date),
                      ADDRESS = as.numeric(str_replace(ADDRESS,pattern = '\\,', 
                                                       replacement = '')),
                      NAME = as.numeric(str_replace(NAME,pattern = '\\,', 
                                                    replacement = '')),
                      DEM = as.numeric(str_replace(DEM,pattern = '\\,', 
                                                   replacement = '')),
                      REP = as.numeric(str_replace(REP,pattern = '\\,', 
                                                   replacement = '')),
                      GRN = as.numeric(str_replace(GRN,pattern = '\\,', 
                                                   replacement = '')),
                      LIB = as.numeric(str_replace(LIB,pattern = '\\,', 
                                                   replacement = '')),
                      UNAF = as.numeric(str_replace(UNAF,pattern = '\\,', 
                                                    replacement = '')),
                      OTH = as.numeric(str_replace(OTH,pattern = '\\,', 
                                                   replacement = '')),
                      TOTAL = as.numeric(str_replace(TOTAL,pattern = '\\,', 
                                                     replacement = ''))) %>% adorn_totals('row') 
  colnames(df) <- tolower(colnames(df))
  
  df <- df %>% 
  
    mutate(date = ifelse(date == '-', lag(date), date), 
           dem_perc = dem/total * 100, 
           rep_perc = rep/total * 100,
           grn_perc = grn/total * 100,
           lib_perc = lib/total * 100, 
           unaf_perc = unaf/total * 100,
           oth_perc = oth/total * 100)
  return(df)
}

process_new <- function (month_yr) {
  df <- read.csv(paste0('input/', month_yr, '_new.csv'), stringsAsFactors = F)
  df <- df %>% mutate(date = mdy(date),
           DEM = as.numeric(str_replace(DEM,pattern = '\\,', 
                                        replacement = '')),
           REP = as.numeric(str_replace(REP,pattern = '\\,', 
                                        replacement = '')),
           GRN = as.numeric(str_replace(GRN,pattern = '\\,', 
                                        replacement = '')),
           LIB = as.numeric(str_replace(LIB,pattern = '\\,', 
                                        replacement = '')),
           UNAF = as.numeric(str_replace(UNAF,pattern = '\\,', 
                                         replacement = '')),
           OTH = as.numeric(str_replace(OTH,pattern = '\\,', 
                                        replacement = '')),
           TOTAL = as.numeric(str_replace(TOTAL,pattern = '\\,', 
                                          replacement = '')),
           DUPS = as.numeric(str_replace(DUPS,pattern = '\\,', 
                                         replacement = ''))) %>% adorn_totals('row') 
  
  colnames(df) <- tolower(colnames(df))
  
  df <- df %>% 
    mutate(date = ifelse(date == '-', lag(date), date), 
           dem_perc = dem/total * 100, 
           rep_perc = rep/total * 100,
           grn_perc = grn/total * 100,
           lib_perc = lib/total * 100, 
           unaf_perc = unaf/total * 100,
           oth_perc = oth/total * 100)
  return(df)
}

process_removals <- function (month_yr) {
  df <- read.csv(paste0('input/', month_yr, '_removals.csv'), stringsAsFactors = F)
  df <- df %>% mutate(date = mdy(date),
                      DEM = as.numeric(str_replace(DEM,pattern = '\\,', 
                                                   replacement = '')),
                      REP = as.numeric(str_replace(REP,pattern = '\\,', 
                                                   replacement = '')),
                      GRN = as.numeric(str_replace(GRN,pattern = '\\,', 
                                                   replacement = '')),
                      LIB = as.numeric(str_replace(LIB,pattern = '\\,', 
                                                   replacement = '')),
                      UNAF = as.numeric(str_replace(UNAF,pattern = '\\,', 
                                                    replacement = '')),
                      OTH = as.numeric(str_replace(OTH,pattern = '\\,', 
                                                   replacement = '')),
                      TOTAL = as.numeric(str_replace(TOTAL,pattern = '\\,', 
                                                     replacement = ''))) %>% adorn_totals('row')
  colnames(df) <- tolower(colnames(df))
  
  df <- df %>% 
    mutate(date = ifelse(date == '-', lag(date), date), 
           dem_perc = dem/total * 100, 
           rep_perc = rep/total * 100,
           grn_perc = grn/total * 100,
           lib_perc = lib/total * 100, 
           unaf_perc = unaf/total * 100,
           oth_perc = oth/total * 100)
  return(df)
}

In [25]:
## apply functions to files

totals.List <- list()
changes.List <- list()
new.List <- list()
removals.List <- list()

for (i in c('01_2018', '02_2018', '03_2018', '04_2018', '05_2018', '06_2018', '07_2018', 
            '08_2018', '09_2018', '09_2016', '09_2014')) {
    totals.List[[i]] <- process_totals(i)
    changes.List[[i]] <- process_changes(i)
    new.List[[i]] <- process_new(i)
    removals.List[[i]] <- process_removals(i)
    }

totals <- rbindlist(totals.List)
changes <- rbindlist(changes.List)
new <- rbindlist(new.List)
removals <- rbindlist(removals.List)

totals$date <- ymd(totals$date)
changes$date <- ymd(changes$date)
new$date <- ymd(new$date)
removals$date <- ymd(removals$date)

In [27]:
## write to csv in `output/` folder

write_csv(totals, 'output/totals.csv')
write_csv(changes, 'output/changes.csv')
write_csv(new, 'output/new.csv')
write_csv(removals, 'output/removals.csv')